<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>facecard: remembering tool</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">   
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand menu-writing" style="font-size:27px;" href="/"><strong>facecard</strong></a>    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"></ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link menu-writing" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-writing" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-writing" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-writing" href="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <div class="intro">
      <div class="row">
        <div class="col-md-12">
        <h1>  ABOUT FACECARD </h1> 
	<h2> AIMING TO CREATE A COMMUNITY THAT ENCOURAGES LEARNING. </h2> 
	<br>
	<p> Students often cram studying into a few days before a test or an exam and this often leads to poor retention of the material. <strong>Spaced 
	repetition</strong> is a studying technique by spacing out each review of the material to improve retention. FaceCard utilizes the concept of
	spaces repetition by allowing users to generate and study off of personally customized cue cards designed to help with memorization. Users can 
	easily track their own progress and view which cards that have been particularly challenging in the past.</p>
        <br>
        <h2> Classrooms </h2>
	<br>
	<p> FaceCard will allow users to join classrooms hosted by their teachers, allowing them to contribute their own cue cards to the class, 
        as well as view cards that others have created. The classroom will have the ability to hold class quizzes. Instructors of the class have the
	option of "approving" cue cards if the cards are accurate and beneficial to the class. Similarly, there is an option to "disapprove" or provide
	feedback to inaccurate or misleading cards. Both instructors and regular users can give feedback to cards.</p>
        <br>
	<h2> Duels </h2>
	<br>
	<p> Studying with others can promote motivation and expands access to information. However, it can be difficult to arrange a time where all members 
	of a study group are available 	to meet up. FaceCard offers a 'Duel' mode, where users can challenge one another to a match involving their 
	knowledge. Users choose the decks and cards that they wish to include in the match, and face off against each other in a match where the user with 
	the most points is crowned victor. </p>
        <br>
	<h2> Why choose FaceCard? </h2>
	<br>
	<p> You should choose FaceCard as our webapp is able to hone study habits while providing a more, efficient, environmentally friendly, and cheaper
	alternative to traditional cue cards. Students and teachers are able to share their cards and study with one another through a convinient
	online community and the click of a button. Students can simulate a test environment with other classmates for an experience that cannot be gained 
	from studying alone. FaceCard gives users the ability to track their own progress, while getting helpful feedback in a systematic manner. </p>
        <br>
        </div>
      </div>
    </div>
    <br>
    <br>
  </body>
</html>
