<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>facecard: remembering tool</title>
    <link rel="stylesheet" href="../public/css/style.css" type="text/css">
    <link href="../public/css/bootstrap.min.css"rel="stylesheet">
  </head>
  <body>
    <nav class="navbar background">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand menu-writing" href="/" style="font-size:27px;"><strong>facecard</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="menu-writing" href="/about">   About</a></li>
            <li><a class="menu-writing" href="/contact">   Contact</a></li>
            <li><a class="menu-writing" href="/login">   Log in</a></li>
            <li><a class="menu-writing" href="/signup">   Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <br>
    <div class="intro">
      <div class="row">
        <div class="col-md-12">
          ABOUT FACECARD
        </div>
      </div>
    </div>
    <br>
    <br>
  </body>
</html>
