<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>facecard: remembering tool</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar background">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand menu-writing" href="/" style="font-size:27px;"><strong>facecard</strong></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="menu-writing" href="/about">   About</a></li>
                    <li><a class="menu-writing" href="/contact">   Contact</a></li>
                    <li><a class="menu-writing" href="/login">   Log in</a></li>
                    <li><a class="menu-writing" href="/signup">   Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <!-- <div class="intro">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 graphics">
          <img src="images/question.jpg"/><br>
          <img src="images/answer.jpg"/>
        </div>

        <div class="col-md-5 signup">
          <form action="/register" method="post">
            <h4> <span>facecard</span> helps you remember.</h4>
            <p> Have midterm coming up? Use <span>facecard</span>.</p>
            <h3> Log In </h3>
            <input class="form-control" type="email" name="username" placeholder="email" autofocus>
            <input class="form-control" type="password" name="password" placeholder="password">
            <input class="form-control" id = "submit" type="submit" name="submit"><br>
            <h4> New to <span>facecard</span>? Click <a href="/signup">here</a> to create an account.</h4>
            <p id="error"></p>
          </form>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div> -->


    <br>
    <br>
</body>

</html>
