<!DOCTYPE html>

<style>
	.announcements li {
		list-style-type:none;
		padding:10px;
		margin-left:0px;
		font-size:25px;
	}

	.cards {
		background-image:url('../images/card.png');
		background-size: 18vw 24.2vh;
		background-repeat:no-repeat;
		width: 20%;
		height:20%;
		border:none;
		margin:20px;
		position:relative;
		float:left;
	}

	.cards button {
		background:none;
		border:none;
		height:100%;
		width:100%;
		padding:21%;
	}

	.container {
		min-width:100%;
		min-height:100%;
		padding:0;
		margin:0;
	}

    #deck-overlay {
		width: 100%;
		position:fixed;
		left: 0;
		top: 0;
		height: 100vh;
		background: rgba(100,100,100,0.5);
		padding-left: 25%;
		padding-right: 25%;
		padding-top: 25vh;
		padding-bottom: 25vh;
		z-index: 900;
		display:none;
		overflow-y: auto;
	}

	.content {
		background: rgba(255,255,255,1);
		padding: 15px;

	}

	.card {
		list-style-type:none;
	}

	.card button:hover{
		box-shadow: 0px 10px 10px grey;
	}

	.card button {
		background: none;
		border: 1px solid gray;
		border-radius: 20px;
		margin:5vw 5vh;
		padding: 20%;
		transition:0.2s;
	}


	#close {
		background:none;
		border:none;
		color:red;
		float:right;
		font-size:20px;
		transition:0.2s;
	}

	#close:hover{
		background:red;
		color:white;
	}

	#add-card {
		background:none;
		border:none;
		border-radius:5px;
		font-size:20px;
		transition:0.2s;
	}

	#add-card:hover {
		background:lightgray;
	}


</style>

<html>
<head>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/group.js"></script>
</head>
<body>
	<nav class="navbar background">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand menu-writing" href="/" style="font-size:27px;"><strong>facecard</strong></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="menu-writing" href="/"><i class="fa fa-user fa-1x"></i>   <%= user %></a></li>
					<li><a class="menu-writing" href="/logout"><i class="fa fa-sign-out fa-1x"></i>   Signout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="announcements" style="float:left;">
			<h1><strong>Welcome to <%= title %></strong></h1>
			<h2><strong>Anouncements:</strong></h2>
			<ul id="announcement-list">
			</ul>

		</div>

	</div>

    <div id="deck-overlay">
        <div class="content">
            <button id="close" onclick="hideOverlay()"> X </button>
            <button id="add-card"><span><Strong>Add New Card</Strong></span></button>
            <ul id="catalog"></ul>
        </div>
    </div>

	<div class="container">
	<div class="deck-view" style="float:right;width: 100%;height: auto;">
		<h1><strong>Class Decks</strong></h1>
        <ul id="deck-list" class="decks"></ul>
		</div>
	</div>

</body>

</html>
