<html>
    <head>
        <title> Quiz </title>
        <link href="css/style.css" type="text/css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar background">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand menu-writing" href="/" style="font-size:27pix;"><strong>facecard</strong></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Group</a></li>
                    <li class="active"><a href="#">Quiz</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <h2 style="float:left;">Quiz Page</h2>
            <button type="button" class="btn btn-success">Create Quiz</button>
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary">Load Quiz</button>
                <button type="button" class="btn btn-primary">Join Quiz</button>
            </div>
        </div>


    </body>
</html>
