<!DOCTYPE HTML>
<html>
    <head>
        <title> Quiz </title>
        
        <!--<link href="css/bootstrap.min.css"rel="stylesheet">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" type="text/css">
      	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js.cue.js"></script>
        <script>
            $(function(){
                $(".view").hide();
                $("#quiz-example").show();
                $("#view-quiz-page").show();
                var x = timerFunc();

                $("#cont-skip-btn").click(function(){
                    //var timer = document.getElementById("timer-quiz");
                    $("#timer-quiz").text("30");
                    var timer = document.getElementById("timer-quiz");
                    var page = parseInt($("#page_number").text().trim().split("/", 1)) + 1;
                    timer.style.color = "black";
                    clearInterval(x);
                    x = timerFunc();
                    $(".card-title").text("What does an animal cell not have?");
                    //$(".btn-quiz").removeClass("disabled");
                    $(".btn-quiz").prop("disabled", false);
                    $("#a1").text("Lysosome");
                    $("#a2").text("Ribosomes");
                    $("#a3").text("Vacuole");
                    $("#a4").text("Cell Wall");
                    $("#page_number").text(page + "/30");

                });

                $(".btn-quiz").click(function(event){
                    var ans = $("#" + event.target.id).text().trim();
                    var quest = $(".card-title").text().trim();
                    if (quest == "What is the powerhouse of the cell?" && ans != "Mitochondria"){
                        $(".card-title").text("Incorrect: Mitochondria");
                    }
                    else if (quest == "What does an animal cell not have?" && ans != "Cell Wall"){
                        var timer = document.getElementById("timer-quiz");
                        timer.style.color = "black";
                    }
                    else if (quest == "What is the powerhouse of the cell?"){
                        $(".card-title").text("Correct: Mitochondria");
                    }
                    else {
                        $(".card-title").text("Correct: Cell Wall");
                    }
                    $(".btn-quiz").attr("disabled", "disabled");

                    document.getElementById("cont-skip-btn").textContent = "Continue";
                    clearInterval(x)
                });
            });

            function timerFunc(){
                var x = setInterval(function(){
                    var timer = document.getElementById("timer-quiz");
                    timer.innerHTML = parseInt(timer.textContent) - 1;
                    if (timer.textContent == "0"){
                        clearInterval(x);
                        document.getElementById("cont-skip-btn").textContent = "Continue";
                        $(".btn-quiz").addClass("disabled");
                        $(".btn-quiz").attr("disabled", "disabled");
                        $(".card-title").text("Incorrect: Mitochondria");
                    }
                    else if (timer.textContent == "10"){
                        timer.style.color = "red";
                    }
                }, 1000);
                return x;
            }
            /**
            var x = setInterval(function(){
                var timer = document.getElementById("timer-quiz");
                timer.innerHTML = parseInt(timer.textContent) - 1;
                if (timer.textContent == "0"){
                    clearInterval(x);
                    document.getElementById("cont-skip-btn").textContent = "Continue";
                    $(".btn-quiz").addClass("disabled");
                    $(".btn-quiz").attr("disabled", "disabled");
                    $(".card-title").text("Incorrect: Mitochondria");
                }
                else if (timer.textContent == "10"){
                    timer.style.color = "red";
                }
            }, 1000);
            */

        </script>
        <style>
            .flex-container{
                justify-content: center;
                align-items: center;
                min-height: 24em;
                display: flex;
            }

            .quiz-btn{
                margin-right:5px;
                margin-left:5px;
            }

            #card-count h3{
                margin:0;
                display:inline-block;
            }

            .btn-quiz{
                margin:5px;
                width:150px;
            }

        </style>

    </head>
    <body>

        <nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand menu-writing" style="font-size:27px;" href="/"><strong>facecard</strong></a>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto"></ul>
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link menu-writing" style="font-size:16px;" href="/"><i class="fa fa-user fa-1x"></i> <%= user %></a>
                    
                </li>
                <li class="nav-item">
                    <a class ="nav-link menu-writing" href="/logout"><i class="fa fa-sign-out fa-1x"></i> Signout</a>
                </li>
                </ul>

            </div>
        </nav>
        

        <div class="view" id="view-main">

        <div class="container">
            <h2 style="text-align:center;">Quiz Page</h2>
            <p id="timer">30</p>
            <div class="flex-container">
                <button type="button" class="btn btn-success quiz-btn">Create Quiz</button>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-primary">Load Quiz</button>
                    <button type="button" class="btn btn-primary">Join Quiz</button>
                </div>
            </div>
        </div>
        </div>

        <div class="view" id="quiz-example">
            <main role="main" class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content col-center">
                        <div class="card">
                            <div class="card-header text-center">
                                <h2>Biology Quiz</h2>
                            </div>
                            <div class="card-body">
                                <!--<div class="text-right">
                                    <a href="#" class="btn btn-primary float-right">Skip</a>
                                </div>
                                -->
                                <div class="view" id="view-begin-quiz">

                                </div>

                                <div class="view" id="view-quiz-page">
                                <div id="card-count">

                                    <h3 style="float:left;width:33%" id="timer-quiz" class="text-left">30</h3>
                                    <a href="#" class="btn btn-primary float-right" id="cont-skip-btn">Skip</a>
                                    <h3 style="float:left;width:33%" class="text-center" id="page_number">1/30</h3>
                                </div>
                                <div class="text-right">
                                </div>
                                <br> <br> <br> <br>
                                <div id="card-content">
                                    <h3 class="card-title text-center">What is the powerhouse of the cell?</h3>
                                </div>
                                <br><br><br>
                                <div id="card-bottom">
                                    <div id="card-bottom-buttons" >
                                        <!--
                                        <div class="text-center">
                                            <form class="form-group" id="revealAnswer">
                                                <buttom class="btn btn-primary col-md-offset-3" id="revealButton" onclick=$("#cueCardBack").show()>Reveal Answer</button>
                                            </form>
                                        </div>
                                        -->
                                        <div class="container text-center">
                                        <div class="row text-center">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-primary btn-quiz" id="a1">Cytoplasm</button>
                                                <button type="button" class="btn btn-primary btn-quiz" id="a2">Nucleus</button>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-primary btn-quiz" id="a3">Mitochondria</button>
                                                <button type="button" class="btn btn-primary btn-quiz" id="a4">Cell Wall</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>


            </main>
    </div>
        </div>


    </body>
</html>
