/* Font */
@font-face
{
  font-family : "Ubuntu-R";
  src: url('Ubuntu-R.tff');
}
* {
	font-family: 'Ubuntu', Ubuntu, sans-serif;
  src: local('Ubuntu'), format('tff');
}

/* LOGIN PAGE */

/* navbar top */
.container-fluid {
  border-bottom: 0.1px solid #d3d3d3;
}

.menu-writing {
  color: #fd5c63;
}

.menu-writing:hover {
  color: #fd5c63;
}

/* signup form */
span {
  color:#fd5c63;
  font-weight: bold;
}

.signup h1 {
  color:#fd5c63;
  text-align: center;
}

.signup h3,h4 {
  color:black;
  text-align: center;
}

.signup p {
  color:black;
  text-align: center;
}

.signup {
  margin-top:5%;
  position:relative;
  border: 1px solid #d3d3d3;
  background-color:white;
  border-radius:10px;
  padding: 2%;
}

.signup input {
  width: 60%;
  margin-bottom:1.3%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#submit {
  width: 60%;
  margin-top:2%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  color:white;
  background-color: #5CB3FF;
}
